<table>
    <tr>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/plan">Plan</a></td>
        <!-- <td><a href="{{site.baseurl}}/FRQ1">FRQ1</a></td>
        <td><a href="{{site.baseurl}}/FRQ2">FRQ2</a></td>
        <td><a href="{{site.baseurl}}/FRQ3">FRQ3</a></td>
        <td><a href="{{site.baseurl}}/FRQ4">FRQ4</a></td> -->
        <td><a href="{{site.baseurl}}/calendar">Calendar</a></td>
        <td><a href="{{site.baseurl}}/nutrition">Nutrition</a></td>
        <td><a href="{{site.baseurl}}/meal">Meal</a></td>
        <td><a href="https://sarayu-pr11.github.io/tri2_pbl/recipes"></a>Recipes</a></td>
        <td><a href="{{site.baseurl}}/login">Login</a></td>
        <td><a href="{{site.baseurl}}/signup">Signup</a></td>
    </tr>
</table>
