<table>
    <tr>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/plan">Plan</a></td>
        <!-- <td><a href="{{site.baseurl}}/FRQ1">FRQ1</a></td>
        <td><a href="{{site.baseurl}}/FRQ2">FRQ2</a></td>
        <td><a href="{{site.baseurl}}/FRQ3">FRQ3</a></td>
        <td><a href="{{site.baseurl}}/FRQ4">FRQ4</a></td> -->
        <td><a href="{{site.baseurl}}/nutrition">Nutrition</a></td>
        <td><a href="{{site.baseurl}}/meal">Meal</a></td>
        <td><a href="{{site.baseurl}}/recipes"></a>Recipes</a></td>
        <td><a id="planner" href=""></a></td>
        <td><a id="one" href="{{site.baseurl}}/login">Login</a></td>
        <td><a id="two" href="{{site.baseurl}}/signup">Signup</a></td>


        <script>
            if (sessionStorage.getItem("username") != null) {
                document.getElementById("one").href="{{site.baseurl}}/logout";
                document.getElementById("one").innerHTML="Logout";

                document.getElementById("two").href="";
                document.getElementById("two").innerHTML="";

                document.getElementById("planner").href="{{site.baseurl}}/calendar";
                document.getElementById("planner").innerHTML="Calendar"; 
            }
        </script>
    </tr>
</table>
